<html>
  <body>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type='text/javascript'>
      function toggleInsts(num){
        var instructorList=document.getElementById('instructors'+num);
        if(instructorList.style.display=='none'){
          instructorList.style.display='block';
        }
        else {
          instructorList.style.display='none';
        }
      }

    </script>
    <h1>Courses</h1>
    <ul>
      {% for course in c %}
      <li  onclick="toggleInsts({{ forloop.counter0 }})">{{course}}
      <ul style='display:none' id='instructors{{ forloop.counter0 }}'>
        {% for instructor in course.instructors %}
          <li>{{instructor}}</li>
        {% endfor %}
      </ul>
    </li>
      {% endfor %}
    </ul>
  </body>
</html>
